<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Runtime_Runtime_ReplaceSystemMethod2_1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BE61E261CF06D5B00D06177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BE61E3F1CF06D5B00D06177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BE61E4A1CF06D5B00D06177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
