<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Runtime_MJExtensionBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>894813FA1CE5B7300042CF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>894814131CE5B7300042CF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8948141E1CE5B7300042CF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
